* 65%{
outline: 1px solid pink;
}
.dane {
   ;
}
body {
    background: url("2022-01-23-17-51-35.jpg") 0.0/250px.300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.rucovoditel {
    display: flex;
    margin-top: 15;
}
.rock {
    margin-right: 50;
}
.oliver {
    margin-top: ;
}
.dane {
   margin-left: 20; 
}


















